@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
}
:root{
  /*### Primary*/
--vdm: hsl(300, 43%, 22%);
--sp: hsl(333, 80%, 67%);

/*### Neutral*/

--dgm: hsl(303, 10%, 53%);
--lgm: hsl(300, 24%, 96%);
--w: hsl(0, 0%, 100%);
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right -50px bottom -50px;
  background-color: var(--w);
}
h1{
  font-family: 'Spartan', sans-serif;
  font-size: 2.5rem;
  color: var(--vdm);
  width: 80%;
}
p{
  color: var(--dgm);
  line-height: 1.35;
  margin-top: 3%;
}
span{
  padding-right:1em;
}

.card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5rem;
  max-width: 1450px
}
.info{
  flex:50%;
  flex-direction: column;
  position: relative;
  padding:5%;
  align-items:center;
}
.ratings{
  flex:50%;
  flex-direction: column;
  position: relative;
  padding:5%;
  align-items: center;
}

.rat_1{
  background-color: var(--lgm);
  text-align: center;
  border-radius: 8px;
  padding: 15px 10px 15px 10px;
  width: 75%;
  font-weight: 700;
  color: var(--vdm);
}
.rat_2{
  margin-top: 5%;
  margin-left: 10%;
  background-color: var(--lgm);
  text-align: center;
  border-radius: 8px;
  padding: 15px 10px 15px 10px;
  width: 80%;
  font-weight: 700;
  color: var(--vdm);
}
.rat_3{
  margin-top: 5%;
  margin-left: 20%;
  background-color: var(--lgm);
  text-align: center;
  border-radius: 8px;
  padding: 15px 10px 15px 10px;
  width: 75%;
  font-weight: 700;
  color: var(--vdm);
}
.feed{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.feed_1{
  margin-left: 10%;
  background-color: var(--vdm);
  border-radius: 8px;
  padding: 30px;
  width: 25%;
  height: 80%;
}
.picture{
  border-radius: 50px;
  height: auto;
  max-width: 25%;
  max-height: 25%;
}
.feed_1_top{
  color:var(--w);
  display: inline-flex;
  align-items: center;
}
.feed_1_toptext{
  margin-left: 10%;
  width: 100%;
}
.VB{
  color:var(--sp);
}
.feed_1_text{
  color:var(--w);
  font-size: 12px;
  line-height: 2;
}
.feed_2{
  margin-top: 2%;
  margin-left: 2%;
  background-color: var(--vdm);
  border-radius: 8px;
  padding: 30px;
  width: 25%;
  height: 80%;
}
.feed_2_top{
  color:var(--w);
  display: inline-flex;
  align-items: center;
}
.feed_2_toptext{
  margin-left: 10%;
  width: 100%;
}
.feed_2_text{
  color:var(--w);
  font-size: 12px;
  line-height: 2;
}
.feed_3{
  margin-top: 4%;
  margin-left: 2%;
  background-color: var(--vdm);
  border-radius: 8px;
  padding: 30px;
  width: 25%;
  height: 80%;
}
.feed_3_top{
  color:var(--w);
  display: inline-flex;
  align-items: center;
}
.feed_3_toptext{
  margin-left: 10%;
  width: 100%;
}
.feed_3_text{
  color:var(--w);
  font-size: 12px;
  line-height: 2;
}
.space{
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 750px){
  span{
    padding-right:0;
  }
  .card{
    display: flex;
    flex-direction: column;
  }
  .rat_1,.rat_2,.rat_3{
    margin: 10% 0 0 0;
    width: 100%;
    justify-content: center;
  }
  .space{
    display: block;
  }
  .feed{
    display: flex;
    flex-direction: column;
  }
  .feed_1,.feed_2,.feed_3{
    margin: 2% 0 0 10%;
    width: 80%;
    height: 80%;
}
