@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
}
:root{
  /*### Primary*/
--vdm: hsl(300, 43%, 22%);
--sp: hsl(333, 80%, 67%);

/*### Neutral*/

--dgm: hsl(303, 10%, 53%);
--lgm: hsl(300, 24%, 96%);
--w: hsl(0, 0%, 100%);
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right -50px bottom -50px;
  background-color: var(--w);
  overflow: hidden;
}
h1{
  font-family: 'Spartan', sans-serif;
  font-size: 2rem;
  color: var(--vdm);
}
p{
  color: var(--dgm);
}
span{
  padding-right:1em;
}
.card{
  display: flex;
  flex-direction: row;
  max-height: 450px;
  max-width: 1080px;
}
.info{
  flex:50%;
  flex-direction: column;
  position: relative;
  padding:5%;
  align-items:center;
}
.ratings{
  flex:50%;
  flex-direction: column;
  position: relative;
  padding:5%;
  align-items: center;
}
.rat_1{
  background-color: var(--lgm);
  text-align: center;
  border-radius: 8px;
  padding-top: 15px;
  height: 50px;
  width: 350px;
  font-weight: 500;
  color: var(--vdm);
}
.rat_2{
  margin-top: 5%;
  margin-left: 10%;
  background-color: var(--lgm);
  text-align: center;
  border-radius: 8px;
  padding-top: 15px;
  height: 50px;
  width: 350px;
  font-weight: 500;
  color: var(--vdm);
}
.rat_3{
  margin-top: 5%;
  margin-left: 20%;
  background-color: var(--lgm);
  text-align: center;
  border-radius: 8px;
  padding-top: 15px;
  height: 50px;
  width: 350px;
  font-weight: 500;
  color: var(--vdm);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
